body {background-color: blue;
font-size: medium;
}

h1{
  color: white;
}

h2{
  color: darkorange;
}
section{
  margin: 12px;
  padding: 8px;
}

header {color:blue
}
 section {
  margin:8px;
  padding: 12px;
 }

  
  section {
   margin:24px;
    padding:24px;
}